html,
body {
  all: unset;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header {
  padding: 0.25rem 1rem;
  box-shadow: 0 2px 4px #ddd;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header div {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
  font-weight: bold;
}

main a {
  text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
  color: rgb(227, 44, 135);
}

main a:hover {
  color: #b86300;
}

main {
  padding: 1rem;
}

ul {
  display: grid;
  gap: 0.25rem;
  text-transform: capitalize;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  text-transform: capitalize;
}

img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.logo {
  font-size: 2rem;
  animation: spin 2s infinite linear;
}

.grid {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  overflow: hidden;
  z-index: -1;
  max-height: 100vh;
}

.grid img {
  margin: 1rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
